// corsMiddleware := cors.New(cors.Config{
// 	AllowedOrigins: []string{"{{ .Options.allowed_origins }}"},
// 	AllowedMethods: []string{"{{ .Options.allowed_methods }}"},
// })
// handler = corsMiddleware.Handler(mux)
