package ports

import (
	"context"

	"{{ .Module }}/internal/domain"
)

// {{ pascalCase .DomainName }}Repository defines the data access contract.
type {{ pascalCase .DomainName }}Repository interface {
	FindByID(ctx context.Context, id string) (*domain.{{ pascalCase .DomainName }}, error)
	Save(ctx context.Context, e *domain.{{ pascalCase .DomainName }}) error
}
